---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.base_url }}/</loc><changefreq>daily</changefreq><priority>1.0</priority></url>
  <url><loc>{{ site.base_url }}/about/</loc><changefreq>monthly</changefreq><priority>0.5</priority></url>
  <url><loc>{{ site.base_url }}/contact/</loc><changefreq>monthly</changefreq><priority>0.5</priority></url>
  <url><loc>{{ site.base_url }}/privacy-policy/</loc><changefreq>yearly</changefreq><priority>0.3</priority></url>
  <url><loc>{{ site.base_url }}/affiliate-disclosure/</loc><changefreq>yearly</changefreq><priority>0.3</priority></url>
  {% for post in collections.posts %}<url><loc>{{ site.base_url }}{{ post.url }}</loc><lastmod>{{ post.date | isoDate }}</lastmod><changefreq>weekly</changefreq><priority>0.8</priority></url>
  {% endfor %}
</urlset>
